
h1, h2, h3, h4, h5, h6, menu {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

.button, .top-nav-link {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

p, footer {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}